<launch>
  <!-- move_base 실행 -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <!-- 설정 파일 로딩 -->
    <rosparam file="$(find mapless_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find mapless_navigation)/config/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find mapless_navigation)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find mapless_navigation)/config/local_costmap_params.yaml" command="load" ns="local_costmap"/>
  </node>
</launch>
