<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="husky_os1">

  <!-- 1) Husky 기본 모델 포함 -->
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro"/>
  <husky/>

  <!-- 2) OS1-64 LiDAR 모델 포함 -->
  <xacro:include filename="$(find ouster_description)/urdf/OS1-32.urdf.xacro"/>
  <xacro:OS1-32
    parent="top_chassis_link"
    name="os1"
    topic_points="/os1/points"
    topic_imu="/os1/imu"
    hz="10"
    lasers="32"
    samples="512"
    min_range="0.9"
    max_range="75.0"
    noise="0.008"
    lidar_link="os1_lidar"
    imu_link="os1_imu"
    vfov_min="-.26"
    vfov_max=".26">
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
  </xacro:OS1-32>


  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

</robot>
